.post-detail {
    color: black;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .post-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .post-card h2 {
    margin-top: 0;
  }
  
  .post-card p {
    margin: 10px 0;
  }
  
  .comment-box {
    background-color: #f9f9f9;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .comment-box p {
    margin: 5px 0;
  }
  
  .comment-box strong {
    display: block;
    margin-bottom: 5px;
  }
  
  .post-card ul {
    list-style-type: none;
    padding: 0;
  }
  
  .post-card ul li {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 5px 0;
  }
  